table {
  width: 100%;
}

.spinner-position {
  width: 1em;
  height: 50px;
  padding-top: 15px;
  margin: 0 auto;
}

.w-30 {
  width: 30px;
}


.p-15 {
  box-sizing: border-box;
  padding: 15px;
}

.prl-15 {
  box-sizing: border-box;
  padding: 0 15px;
}
