$g-font-size: 16px;

// font-size typography
$f-size_96: 6rem; 
$f-size_60: 3.75rem; 
$f-size_48: 3rem; 
$f-size_34: 2.125rem; 
$f-size_24: 1.5rem; 
$f-size_20: 1.25rem; 
$f-size_16: 1rem;
$f-size_14: 0.875rem; 
$f-size_12: 0.75rem; 
$f-size_10: 0.625rem; 

// letter-spacing typography
$l-spacing_0: 0;
$l-spacing_0-15: 0.009375rem;
$l-spacing_0-25: 0.015625rem;
$l-spacing_0-1: 0.00625rem;
$l-spacing_0-4: 0.025rem;
$l-spacing_0-5: 0.03125rem;
$l-spacing_1-25: 0.078125rem;
$l-spacing_1-5: 0.09375rem;

